<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="/styles.css">
    <title>CloakBin</title>

    <!-- Favicon References -->
    <link rel="icon" href="/favicon/favicon.ico">

</head>
<body>
    <%- include('_buttons.ejs', { id: locals.id }) %>
    <div class="wrapper">
        <div class="line-numbers">
            <% for (let i = 1; i <= code.split('\n').length; i++) { %>
                <div><%= i %></div> 
            <% } %>
        </div>
        <pre><code id="code-display" class="<%= locals.language ? `language-${locals.language}` : "" %>"><%= code %></code></pre>
    </div>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q863WNCMG4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Q863WNCMG4');
    </script>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="94b2a21a-4718-466e-808f-fefc962b5226";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>
</html>
